
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
  font-size: 16px;
  font-family: 'Bebas Neue', sans-serif;
}

button{
  
  font-family: 'Bebas Neue', sans-serif;
}


body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  width: 100vw;
  height: 100vh;    
  background-image:
  linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
  url('https://files.facepunch.com/Errn/1b3011b1/Tesla_Coil.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}